---
import "../styles/global.css";
---

<section class="bg-gradient-blue w-full text-white flex items-center justify-center flex-row gap-30">
    <div class="gap-5 flex flex-col justify-center items-center">
        <h3 class="font-newake text-4xl uppercase ">Why students?</h3>
        <ul class="text-center text-sm font-raleway list-disc">
            <li>Get paid doing what you love</li>
            <li>Gain real experience while studying</li>
            <li>Build your portfolio with real projects</li>
        </ul>
        <a href="" class="font-raleway rounded-full border text-sm border-white px-8 py-2">I'm a student</a>
    </div>
    <img src="./divider.svg" alt="">
    <div class="gap-5 flex flex-col justify-center items-center">
        <h3 class="font-newake text-4xl uppercase ">Why companies?</h3>
        <ul class="text-center text-sm font-raleway list-disc">
            <li>Test young talent on real tasks before hiring</li>
            <li>Get fresh ideas and agile solutions</li>
            <li>Save time and reduce hiring risk</li>
        </ul>
        <a href="" class="font-raleway rounded-full border text-sm border-white px-8 py-2">I'm an organisation</a>
    </div>
</section>
<!-- <section class="flex flex-col pt-8 pb-24 justify-content items-center">
    <p class="text-sm text-primary">Trusted by forward-thinking companies</p>
    <div>
        
    </div>
</section> -->