---
import "../styles/global.css";
---

<footer class="bg-secondary flex gap-8 md:gap-12 pt-8 md:pt-12 pb-6 flex-col items-center justify-center px-4">
    <div class="flex flex-col md:flex-row justify-between items-center gap-8 md:gap-20 lg:gap-56 text-white text-sm font-raleway w-full max-w-4xl">
        <img src="./logosecondary.svg" alt="" class="w-28 md:w-32">
        <ul class="text-center flex flex-col gap-2">
            <li>About</li>
            <li>FAQ</li>
            <li>Contact</li>
        </ul>
        <ul class="text-center flex flex-col gap-2">
            <li>Privacy Policy</li>
            <li>Terms of Service</li>
        </ul>
    </div>
    <p class="text-white text-xs text-center px-4">© 2025 Levelink — Turning education into real job experience.</p>
</footer>