---
import "../styles/global.css";
---

<section class="flex justify-center items-center flex-col py-14 relative">

    <h1 class="text-secondary text-center font-raleway">Redefining hiring through</h1>
    <h1 class="font-newake uppercase text-primary/1 text-8xl text-center py-5">Future-ready<br> talent</h1>
    <img src="./slime.png" alt="" class="absolute opacity-75 -top-30 pointer-events-none drop-shadow-2xl drop-shadow-light-blue/30">
    <h1 class="font-newake uppercase text-primary mix-blend-overlay text-8xl text-center py-5 absolute top-20">Future-ready<br> talent</h1>
    <h2 class="text-secondary text-center font-raleway">Get real solutions from students ready to make an impact.</h2>
    

    <div class="mt-6 gap-4 flex flex-row">
        <a class="rounded-full px-8 py-3 bg-gradient-green" href="">I'm a student</a>
        <a class="rounded-full px-8 py-3 bg-gradient-blue text-white" href="">I'm an organisation</a>
    </div>
</section>

