---
import "../styles/global.css";
---

<section class="bg-gradient-green flex flex-col justify-center items-center gap-3 py-16 w-full">
    <h4 class="uppercase font-newake text-3xl text-primary">Join the movement connecting learning and work</h4>
    <p class="text-primary">Whether you're looking for talent or experience, start your journey today</p>
    <span class="flex flex-row gap-4 mt-2">
        <a href="" class="font-raleway text-sm text-primary rounded-full bg-white py-1 px-4">Start a project →</a>
        <a href="" class="font-raleway text-sm text-primary rounded-full border py-1 px-4 border-secondary">Join as a student</a>
    </span>
</section>
