---
import "../styles/global.css";
---

<section class="flex flex-row justify-between items-center mx-16 my-10">
    <img src="./logo.svg" alt="">
    <ul class="flex flex-row justify-between text-secondary">
        <li class="mx-2"><a href="">How it works</a></li>
        <li class="mx-2"><a href="">For Students</a></li>
        <li class="mx-2"><a href="">For Organisations</a></li>
        <li class="mx-2"><a href="">About us</a></li>
    </ul>
    <a class="px-4 py-1.5 border rounded-full" href="">Get Started</a>
</section>
