---
import "../styles/global.css";
---

<section class="flex flex-col items-center justify-center pt-16">
    <h3 class="uppercase font-newake text-primary text-4xl">Some projects you can join today</h3>
    <div>
        <div>
            
        </div>
    </div>
</section>
