---
import "../styles/global.css";
---

<section class="flex flex-col items-center justify-center mt-16">
    <h3 class="uppercase font-newake text-primary text-4xl">Some projects you can join today</h3>
        <div class="bg-[url(./background.png)] flex flex-row gap-2 justify-center items-center w-full h-fit object-contain bg-repeat-round">
            <div class="bg-white/1 gap-4 backdrop-blur-lg border-[0.5px] mb-20 mt-10 px-8 py-4 border-[#B8D6D8]/40 flex flex-row w-fit rounded-lg">
                <span><img src="./telefonica.svg" alt=""></span>
                <span class="flex flex-col">
                    <p class="text-sm font-semibold text-primary">Social Media Content Strategy</p>
                    <p class="text-xs text-secondary">Telefónica</p>
                    <span class="flex flex-row gap-8 text-xs mt-2">
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_711)">
                                <path d="M1.75 7C1.75 7.68944 1.8858 8.37213 2.14963 9.00909C2.41347 9.64605 2.80018 10.2248 3.28769 10.7123C3.7752 11.1998 4.35395 11.5865 4.99091 11.8504C5.62787 12.1142 6.31056 12.25 7 12.25C7.68944 12.25 8.37213 12.1142 9.00909 11.8504C9.64605 11.5865 10.2248 11.1998 10.7123 10.7123C11.1998 10.2248 11.5865 9.64605 11.8504 9.00909C12.1142 8.37213 12.25 7.68944 12.25 7C12.25 6.31056 12.1142 5.62787 11.8504 4.99091C11.5865 4.35395 11.1998 3.7752 10.7123 3.28769C10.2248 2.80018 9.64605 2.41347 9.00909 2.14963C8.37213 1.8858 7.68944 1.75 7 1.75C6.31056 1.75 5.62787 1.8858 4.99091 2.14963C4.35395 2.41347 3.7752 2.80018 3.28769 3.28769C2.80018 3.7752 2.41347 4.35395 2.14963 4.99091C1.8858 5.62787 1.75 6.31056 1.75 7Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 7L5.25 8.16667" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 4.0835V7.00016" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_711">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-secondary">3-4 weeks</p>
                        </span>
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_718)">
                                <path d="M1.75 5.25016C1.75 4.94074 1.87292 4.644 2.09171 4.4252C2.3105 4.20641 2.60725 4.0835 2.91667 4.0835H11.0833C11.3928 4.0835 11.6895 4.20641 11.9083 4.4252C12.1271 4.644 12.25 4.94074 12.25 5.25016V10.5002C12.25 10.8096 12.1271 11.1063 11.9083 11.3251C11.6895 11.5439 11.3928 11.6668 11.0833 11.6668H2.91667C2.60725 11.6668 2.3105 11.5439 2.09171 11.3251C1.87292 11.1063 1.75 10.8096 1.75 10.5002V5.25016Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.66675 4.08333V2.91667C4.66675 2.60725 4.78966 2.3105 5.00846 2.09171C5.22725 1.87292 5.524 1.75 5.83341 1.75H8.16675C8.47617 1.75 8.77291 1.87292 8.99171 2.09171C9.2105 2.3105 9.33341 2.60725 9.33341 2.91667V4.08333" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_718">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-dark-green font-semibold">+350 XP</p>
                        </span>
                    </span>
                    <span class="mt-2 flex flex-row gap-2 text-xs text-white font-semibold w-fit">
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Canva</p>
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Copywriting</p>
                    </span>
                </span>
            </div>

            <div class="bg-white/1 gap-4 backdrop-blur-lg border-[0.5px] mb-20 mt-10 px-8 py-4 border-[#B8D6D8]/40 flex flex-row w-fit rounded-lg">
                <span><img src="./telefonica.svg" alt=""></span>
                <span class="flex flex-col">
                    <p class="text-sm font-semibold text-primary">Social Media Content Strategy</p>
                    <p class="text-xs text-secondary">Telefónica</p>
                    <span class="flex flex-row gap-8 text-xs mt-2">
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_711)">
                                <path d="M1.75 7C1.75 7.68944 1.8858 8.37213 2.14963 9.00909C2.41347 9.64605 2.80018 10.2248 3.28769 10.7123C3.7752 11.1998 4.35395 11.5865 4.99091 11.8504C5.62787 12.1142 6.31056 12.25 7 12.25C7.68944 12.25 8.37213 12.1142 9.00909 11.8504C9.64605 11.5865 10.2248 11.1998 10.7123 10.7123C11.1998 10.2248 11.5865 9.64605 11.8504 9.00909C12.1142 8.37213 12.25 7.68944 12.25 7C12.25 6.31056 12.1142 5.62787 11.8504 4.99091C11.5865 4.35395 11.1998 3.7752 10.7123 3.28769C10.2248 2.80018 9.64605 2.41347 9.00909 2.14963C8.37213 1.8858 7.68944 1.75 7 1.75C6.31056 1.75 5.62787 1.8858 4.99091 2.14963C4.35395 2.41347 3.7752 2.80018 3.28769 3.28769C2.80018 3.7752 2.41347 4.35395 2.14963 4.99091C1.8858 5.62787 1.75 6.31056 1.75 7Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 7L5.25 8.16667" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 4.0835V7.00016" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_711">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-secondary">3-4 weeks</p>
                        </span>
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_718)">
                                <path d="M1.75 5.25016C1.75 4.94074 1.87292 4.644 2.09171 4.4252C2.3105 4.20641 2.60725 4.0835 2.91667 4.0835H11.0833C11.3928 4.0835 11.6895 4.20641 11.9083 4.4252C12.1271 4.644 12.25 4.94074 12.25 5.25016V10.5002C12.25 10.8096 12.1271 11.1063 11.9083 11.3251C11.6895 11.5439 11.3928 11.6668 11.0833 11.6668H2.91667C2.60725 11.6668 2.3105 11.5439 2.09171 11.3251C1.87292 11.1063 1.75 10.8096 1.75 10.5002V5.25016Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.66675 4.08333V2.91667C4.66675 2.60725 4.78966 2.3105 5.00846 2.09171C5.22725 1.87292 5.524 1.75 5.83341 1.75H8.16675C8.47617 1.75 8.77291 1.87292 8.99171 2.09171C9.2105 2.3105 9.33341 2.60725 9.33341 2.91667V4.08333" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_718">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-dark-green font-semibold">+350 XP</p>
                        </span>
                    </span>
                    <span class="mt-2 flex flex-row gap-2 text-xs text-white font-semibold w-fit">
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Canva</p>
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Copywriting</p>
                    </span>
                </span>
            </div>
            
            <div class="bg-white/1 gap-4 backdrop-blur-lg border-[0.5px] mb-20 mt-10 px-8 py-4 border-[#B8D6D8]/40 flex flex-row w-fit rounded-lg">
                <span><img src="./telefonica.svg" alt=""></span>
                <span class="flex flex-col">
                    <p class="text-sm font-semibold text-primary">Social Media Content Strategy</p>
                    <p class="text-xs text-secondary">Telefónica</p>
                    <span class="flex flex-row gap-8 text-xs mt-2">
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_711)">
                                <path d="M1.75 7C1.75 7.68944 1.8858 8.37213 2.14963 9.00909C2.41347 9.64605 2.80018 10.2248 3.28769 10.7123C3.7752 11.1998 4.35395 11.5865 4.99091 11.8504C5.62787 12.1142 6.31056 12.25 7 12.25C7.68944 12.25 8.37213 12.1142 9.00909 11.8504C9.64605 11.5865 10.2248 11.1998 10.7123 10.7123C11.1998 10.2248 11.5865 9.64605 11.8504 9.00909C12.1142 8.37213 12.25 7.68944 12.25 7C12.25 6.31056 12.1142 5.62787 11.8504 4.99091C11.5865 4.35395 11.1998 3.7752 10.7123 3.28769C10.2248 2.80018 9.64605 2.41347 9.00909 2.14963C8.37213 1.8858 7.68944 1.75 7 1.75C6.31056 1.75 5.62787 1.8858 4.99091 2.14963C4.35395 2.41347 3.7752 2.80018 3.28769 3.28769C2.80018 3.7752 2.41347 4.35395 2.14963 4.99091C1.8858 5.62787 1.75 6.31056 1.75 7Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 7L5.25 8.16667" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7 4.0835V7.00016" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_711">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-secondary">3-4 weeks</p>
                        </span>
                        <span class="flex flex-row gap-1">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_361_718)">
                                <path d="M1.75 5.25016C1.75 4.94074 1.87292 4.644 2.09171 4.4252C2.3105 4.20641 2.60725 4.0835 2.91667 4.0835H11.0833C11.3928 4.0835 11.6895 4.20641 11.9083 4.4252C12.1271 4.644 12.25 4.94074 12.25 5.25016V10.5002C12.25 10.8096 12.1271 11.1063 11.9083 11.3251C11.6895 11.5439 11.3928 11.6668 11.0833 11.6668H2.91667C2.60725 11.6668 2.3105 11.5439 2.09171 11.3251C1.87292 11.1063 1.75 10.8096 1.75 10.5002V5.25016Z" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.66675 4.08333V2.91667C4.66675 2.60725 4.78966 2.3105 5.00846 2.09171C5.22725 1.87292 5.524 1.75 5.83341 1.75H8.16675C8.47617 1.75 8.77291 1.87292 8.99171 2.09171C9.2105 2.3105 9.33341 2.60725 9.33341 2.91667V4.08333" stroke="#6D7C93" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_361_718">
                                <rect width="14" height="14" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            <p class="text-dark-green font-semibold">+350 XP</p>
                        </span>
                    </span>
                    <span class="mt-2 flex flex-row gap-2 text-xs text-white font-semibold w-fit">
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Canva</p>
                        <p class="rounded-full bg-dark-green px-3 py-0.5">Copywriting</p>
                    </span>
                </span>
            </div>

            
        </div>
</section>
