<section class="flex items-center justify-center">
  <div class="bg-light-green rounded-t-3xl gap-4 p-10 flex flex-row items-center justify-center w-fit">
    
    <div class="relative bg-white rounded-3xl px-8 pt-10 pb-42 text-center h-[315px] max-w-64 overflow-visible">
      <h2 class="font-newake uppercase text-xl text-primary leading-none">
        Companies post micro-projects
      </h2>

      <p class="text-secondary text-sm mt-2">
        Small, real-world challenges lasting a few days or weeks
      </p>

      <img 
        src="./step1.png" 
        alt="" 
        class="absolute left-1/2 -translate-x-1/2 top-25 w-52 pointer-events-none select-none"
      />
    </div>

    <div class="relative bg-white rounded-3xl px-8 pb-10 pt-42 text-center h-[315px] max-w-64 overflow-visible">
        <img 
          src="./step2.png" 
          alt="" 
          class="absolute left-1/2 -translate-x-1/2 -top-3 w-52 pointer-events-none select-none"
        />

      <h2 class="font-newake uppercase text-xl text-primary leading-none">
        Students apply and complete them
      </h2>

      <p class="text-secondary text-sm mt-2">
        Start earning money, experience and build new skills
      </p>
    </div>

    <div class="relative bg-white rounded-3xl px-8 pt-10 pb-42 text-center h-[315px] max-w-64 overflow-visible">
      <h2 class="font-newake uppercase text-xl text-primary leading-none">
        Companies review performance
      </h2>

      <p class="text-secondary text-sm mt-2">
        Fast insight into talent potential
      </p>

      <img 
        src="./step3.png" 
        alt="" 
        class="absolute left-35 -translate-x-1/2 top-28 w-56 pointer-events-none select-none"
      />
    </div>

     <div class="relative bg-white rounded-3xl px-8 pb-10 pt-50 text-center h-[315px] max-w-64 overflow-visible">
        <img 
          src="./step4.png" 
          alt="" 
          class="absolute left-30 -translate-x-1/2 -top-3 w-72 pointer-events-none select-none"
        />

      <h2 class="font-newake uppercase text-xl text-primary leading-none">
        Both sides grow
      </h2>

      <p class="text-secondary text-sm mt-2">
        Companies find talent, students build portfolios
      </p>
    </div>

  </div>
</section>
